@import "themes";
@mixin box {
    background-color: white;
    border-radius: 8px;
    box-shadow: 5px 5px 10px gray;
}
%icon {
    position: absolute;
    width: 50px;
    padding: 5px;
    border-radius: 8px;
    background-color: red;
    color: white;
    font-weight: bolder;
    top: 20px;
    right: 20px;
    text-align: center;
    cursor: pointer;
    &:hover {
        color: brown;
        background-color: violet;
    }
}
@mixin bottom {
    position: absolute;
    padding: 12px;
    border-radius: 20px;
    background: linear-gradient(to right, rgb(64, 84, 245), rgb(42, 108, 245));
    a {
        color: white;
        font-weight: bolder;
        text-decoration: none;
        &:hover {
            color: brown;
        }
    }
}
%contents {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}
.content1 {
    @extend %contents;
    display: flex;
    flex-wrap: wrap;
}
.card1 {
    @include box;
    width: 300px;
    height: 400px;
    overflow: hidden;
    &__bg {
        width: 100%;
        height: 100%;
        height: 150px;
        background-image: url(./image/1.png);
        background-repeat: no-repeat;
        background-size: 100%;
        position: relative;
        &__icon {
            @extend %icon;
        }
    }
    &__content {
        padding: 0 25px;
        margin: 0;
        font-family: "IBM Plex Sans", sans-serif;
        position: relative;
        &__view {
            @include bottom;
            bottom: 20px;
            left: 100px;
        }
    }
    &__title {
        font-size: larger;
        padding: 10px;
        font-weight: bolder;
    }
    .word {
        margin-top: 10px;
        margin-bottom: 10px;
        background: linear-gradient(to top, white, black);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
}
.card2 {
    @include box;
    position: relative;
    background-image: url(./image/2.png);
    width: 700px;
    background-position: bottom -12px left -8px;
    &__bg__icon {
        @extend %icon;
        background-color: aliceblue;
        color: rgb(64, 84, 245);
    }
    &__view {
        @include bottom;
        right: 20px;
        bottom: 30px;
    }
    &__content {
        position: absolute;
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: bolder;
        width: 300px;
        height: 80px;
        bottom: 30px;
        &:hover {
            border-left: 3px solid rgb(115, 220, 181);
        }
        padding-left: 20px;
        p {
            color: rgb(115, 220, 181);
        }
        h1 {
            font-size: 2rem;
            color: white;
            margin-top: 20px;
        }
    }
}
.content2 {
    @extend %contents;
}
.card3 {
    @include box;
    width: 300px;
    height: 280px;
    position: relative;
    img {
        width: 100%;
        border-radius: 5px 5px 0 0;
    }
    &__img {
        position: relative;
        &__icon {
            @extend %icon;
            color: white;
            background-color: blue;
        }
    }
    &__content {
        position: relative;
        bottom: 0;
        padding: 15px;
        font-family: "IBM Plex Sans", sans-serif;
        &__title {
            font-weight: bolder;
            font-size: 1.1rem;
            padding-bottom: 5px;
        }
        p {
            color: gray;
            padding-top: 5px;
        }
        &__heart {
            width: 30px;
            height: 30px;
            position: absolute;
            right: 15px;
            bottom: 15px;
            img {
                cursor: pointer;
            }
            &:hover {
                bottom: 17px;
            }
        }
    }
}
.card4 {
    @include box;
    background-image: url(./image/4.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 300px;
    height: 250px;
    padding: 15px;
    position: relative;
    &__play {
        position: absolute;
        left: 145px;
        top: 100px;
        img {
            width: 50px;
            height: 50px;
            cursor: pointer;
        }
        &:hover {
            top: 99px;
        }
    }
    &__content {
        font-family: "IBM Plex Sans", sans-serif;
        position: absolute;
        bottom: 20px;
        width: 90%;
        height: 60px;
        color: white;
        &__title {
            font-size: 1.3rem;
            font-weight: bolder;
            margin-bottom: 5px;
        }
        img {
            width: 30px;
            height: 30px;
            position: absolute;
            cursor: pointer;
            right: 0;
            bottom: 20px;
        }
    }
}
